/******* LANDING PAGE STYLES *******/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
  }
  
  body {
    font-family: "lato", sans-serif;
    color: black;
  }
  

  a {
    color: black;
    text-decoration: none;
  }
  
  
  h1 {
    font-size: 3.6em;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
  }
  
  
  h2 {
    font-size: 3.2em;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
  }
  
  p {
    font-size: 30px;
  }
  

  .header-image {
    max-width: 10%;
  }
  
  li {
    list-style-type: none;
  }  
  
  p {
    font-size: 20px;
    margin: 10px 0;
  }

.container {
    margin: 0 auto;
    max-width: 2000px;
    overflow: visible;
    padding-bottom: 5%;
  }

.header {
  background-color: #e6f0ff;
  height: 60%;
  padding: 0 5em;
}

.header .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header ul {
    display: flex;
  }
  
  .header a {
    color: white;
    padding: 9px;
    margin: 0 10px;
    font-size: 1em;
    font-weight: bold;
  }

  .button {
    background-color: rgb(80, 105, 248);
    border-radius: 25px;
    height: 3.5em;
    width: 12em;

  }

  .header-info {
    padding-left: 6em;
    padding-bottom: 8em;
    max-width: 40%

  }

  .section {
    background-color: white;
    height: 150vh;
    padding: 0 5em;
  }

  .section .flex {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
  }

  .section ul {
    display: flex;
  }
  
  .section a {
    color: white;
    padding: 9px;
    margin: 0 10px;
    font-size: 1em;
    font-weight: bold;
  }

  .section-info { 
    padding-bottom: 3em;
    padding-top: 8em;
    max-width: 40%

  }

  .section-image-right {
    max-width: 100%;
    align-items:flex-start;
  }

  .section-image-left {
    max-width: 100%;
    align-items: inherit;
  }

  .footer {
    background-color:
     rgb(80, 105, 248);
    height: 30%;
    color: white;
  }

  .footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
  }

  .footer-button {
    background-color: rgb(243, 199, 53);
    font-weight: bold;
    border-radius: 25px;
    height: 3.5em;
    width: 12em;

  }



  @media screen and (max-width: 375px) {

    .header {
        background-color: #e6f0ff;
        height: 60%;
        padding: 2em;
        padding-top: 2em;
      }

    .header-info {
        padding: 0;
        padding-bottom: 5vh;
        max-width:100%;
        text-align: center;
    }

    .header .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }

    .section-info {
        padding: 0;
        padding-bottom: 5vh;
        max-width: 100%;
    }
    
    .section .flex {
        display: flex;
        justify-content:flex-end;
        align-items: center;
        padding-top: 3vh;
    }
  }

  @media screen and (max-width: 390px) {
    .header-info {
        padding: 0;
        padding-bottom: 5vh;
        max-width:100%;
    }
  }

  @media screen and (max-width: 412px) {
    .header-info {
        padding: 0;
        padding-bottom: 5vh;
        max-width:100%;
    }
  }

  @media screen and (max-width: 540px) {
    .header-info {
        padding: 0;
        padding-bottom: 5vh;
        max-width:100%;
    }
  }

  @media screen and (max-width: 768px) {
    .header-info {
        padding: 3vh;
        padding-bottom: 5vh;
        max-width:100%;
    }
  }

  @media screen and (max-width: 820px) {
    .header-info {
        padding: 3vh;
        padding-bottom: 5vh;
        max-width:100%;
    }
  }